@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

html {
    height: 100%;
}

body {
    background: #0d1117;
    height: 100%;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    height: 100%;
    width: 100%;
}

/*img-aside*/
.img-login {
    background: url('images/login/edu.jpg') repeat center center;
    background-size: cover;
    max-height: 90rem;
}

/*Container-Login*/
.container_login {
    background: #0d1117;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.login{
    background-color: #343a40;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
    width: 100%;
    padding: 30px;
    text-align: left;
    margin: 16px 0px 0px;
    border:1px solid #343a40;
    border-radius: 10px;
    overflow: hidden;
    gap: 15px;
}

/*Typography*/
.login-welcome h1{
    color:#e6edf3;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 12px;
}

.login-welcome h2{
    color: #d1d5db;
    margin-bottom: 12px;
    font-size: 17.5px;
    font-weight: normal;
}

/*Style*/
.text-field {
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.text-field input {
    background: #0d1117;
    color: #e6edf3;
    max-width: 100%;
    width: 100%;
    min-height: 40px;
    font-size: 15px;
    letter-spacing: .03rem; 
    border: 1px solid #0d1117;
    border-radius: 7px;
    text-indent: 19px;
    outline: none;
}

.text-field input:focus {
    outline: 2px solid #4281e0;
}

.text-field label {
    color: #e6edf3;
}

.text-field input:user-invalid {
    background: #0d1117;
    color: #e5484d;
    border: 2px solid #e5484d;
    outline: none;
}

.error-message {
    display: none;
}

.text-field input:user-invalid~.error-message {
    color: #e5484d;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

/*Button*/
.login-button {
    background: #4281e0;
    color: #FFF;
    width: 100%;
    line-height: 44px;
    font-size: 17px;
    font-weight: bold;
    place-items: center;
    margin-top: 16px;
    cursor: pointer;
    border: 1px solid #4281e0;
    border-radius: 7px;
    outline: none;
}

.login-button:hover{
    opacity: .8;
    background: #5f88ea;
}

/*Responsive*/
@media (max-width: 1115px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img-login {
        display: none;
    }
}